@*@model BachelorProject.Models.LogRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LogRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRecord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRecord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoMessage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
