@model BachelorProject.Models.UserViewModel

@{
    ViewBag.Title = "Slett";
}
<div class="container" style="word-break: break-word">
        <h2>Er du sikker på at du vil slette brukeren?</h2>
        <hr />

        <dl class="dl-horizontal form-horizontal">
            <div class="form-group">
                <dt>
                    <span>Fornavn</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
            </div>

            <div class="form-group">
                <dt>
                    <span>Etternavn</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    <span>E-post</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    <span>Telefon</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    <span>Rolle</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Role)
                </dd>
            </div>
            <div class="form-group">
                <dt>
                    <span>Registreringsdato</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfRecord)
                </dd>
            </div>
            <div class="form-group">
                <dd>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions">
                            <input type="submit" value="Slett" class="btn btn-danger" />
                        </div>
                    }
                </dd>
            </div>
        </dl>
</div>
<div>
    <button type="button" class="btn btn-primary m-0" onclick="location.href='@Url.Action("Index","Users")'">Tilbake til oversikten</button>
</div>
