@model BachelorProject.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Logg inn via sosiale nettverk</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Ingen mulighet å logge seg på gjennom sosiale nettverk
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                    <button type="submit"
                            class="btn btn-default"
                            id="@p.AuthenticationType"
                            name="provider"
                            value="@p.AuthenticationType"
                            title="Logg inn ved å bruke @p.Caption konto">
                        @if (@p.Caption == "Facebook")
                        {
                            <i class="fab fa-facebook-square" style="font-size:26px"></i>
                        }
                        @if (@p.Caption == "Google")
                        {
                            <i class="fab fa-google" style="font-size:26px"></i>
                        }
                        @p.AuthenticationType
                    </button>
                    }
                </p>
            </div>
        }
    }
}
