@model IEnumerable<BachelorProject.Models.DepotRecord>

<h1>Hei!</h1>
<h3>Følgende utstyr går snart ut på dato:</h3>

<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Equipment.NameAndType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityOriginal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityLeft)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.NameAndType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOriginal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityLeft)
            </td>
        </tr>
    }

</table>

